._social-links {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translatey(-50%);
	padding: 0.5em 0.5em 0.5em 0.6em;
	background: #fafafa;
	border-radius: 0.5em 0 0 0.5em;
  border-left: 4px solid hotpink;
	transition: all 300ms ease, border-left 300ms ease;
}

._social-links:hover {
	box-shadow: -8px 0px 20px hotpink;
	padding: 0.7em;
  border-left: 0px;
}

._links-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.7em;
}
._social-link a {
	font-size: 1.4rem;
	transition: all 200ms ease;
}
._social-link a:visited {
	color: #111;
}
._social-link a:hover {
	color: hotpink;
	font-size: 1.6rem;
}
