.auth-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f7fb; /* Light background for a clean look */
  padding: 20px;
  text-align: center;
}

.auth-heading {
  font-size: 36px;
  font-weight: 700;
  color: #363636;
  margin-bottom: 20px;
}

.auth-message {
  font-size: 18px;
  font-weight: 400;
  color: #555;
  margin-bottom: 30px;
  max-width: 500px;
  line-height: 1.6;
}

.open-close-modal-button {
  background-color: hotpink; /* Google blue color */
  color: white;
  padding: 11px 22px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.open-close-modal-button:hover {
  background-color: #eb338c; /* Darker blue on hover */
}

.open-close-modal-button:focus {
  outline: none;
}
